.websiteBody{
    margin: 0;
  }.Page{
    display:block;
    margin:auto;
    width:100%;
    height:auto;
    pointer-events:auto;
  }
  .Page-outer{
    pointer-events:none;
    z-index:1;
  }
  .Frame{
    position:relative;
    z-index:2;
    pointer-events:none;
    width:100%;
    margin-left:0;
    height:1024px;
    min-width:200px;
    max-width:1440px;
    margin:auto;
    background-color:rgba(255, 255, 255, 1);
    overflow:hidden;
  }
  .Frame-outer{
    pointer-events:none;
    z-index:2;
  }
  .linkedin{
    position:relative;
    z-index:5;
    pointer-events:none;
    margin-left:1315px;
    width:59px;
    min-width:59px;
    margin-top:33px;
    margin-bottom:973px;
    min-height:18px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Lucida Grande;
    font-weight:400;
    font-size:15px;
    line-height:17.5px;
  }
  .linkedin-outer{
    pointer-events:none;
    z-index:5;
    position:relative;
    display:flex;
  }
  .github{
    position:relative;
    z-index:4;
    pointer-events:none;
    margin-left:1231px;
    width:48px;
    min-width:48px;
    margin-top:-991px;
    margin-bottom:973px;
    min-height:18px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Lucida Grande;
    font-weight:400;
    font-size:15px;
    line-height:17.5px;
  }
  .github-outer{
    pointer-events:none;
    z-index:4;
    position:relative;
    display:flex;
  }
  .resume{
    position:relative;
    z-index:3;
    pointer-events:none;
    margin-left:1152px;
    width:54px;
    min-width:54px;
    margin-top:-991px;
    margin-bottom:973px;
    min-height:18px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Lucida Grande;
    font-weight:400;
    font-size:15px;
    line-height:17.5px;
  }
  .resume-outer{
    pointer-events:none;
    z-index:3;
    position:relative;
    display:flex;
  }
  .Group-1{
    position:relative;
    z-index:6;
    pointer-events:none;
    margin-left:201px;
    width:1055px;
    min-width:1055px;
    height:359px;
    margin-top:-776px;
    margin-bottom:417px;
    min-height:359px;
  }
  .Group-1-outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .q1656620876158-1{
    position:relative;
    z-index:8;
    pointer-events:none;
    margin-left:0px;
    width:298px;
    min-width:298px;
    height:359px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:359px;
    content:url(../assets/abed_pic.png);
  }
  .q1656620876158-1-outer{
    pointer-events:none;
    z-index:8;
    position:relative;
    display:flex;
  }
  .Hi--I-m-Abed-Khalaf-{
    position:relative;
    z-index:7;
    pointer-events:none;
    margin-left:343px;
    width:712px;
    min-width:712px;
    margin-top:-248px;
    margin-bottom:16px;
    min-height:232px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Inter;
    font-weight:900;
    font-size:48px;
    line-height:58px;
  }
  .Hi--I-m-Abed-Khalaf--outer{
    pointer-events:none;
    z-index:7;
    position:relative;
    display:flex;
  }
  .About-me--I-m-very-m{
    position:relative;
    z-index:9;
    pointer-events:none;
    margin-left:72px;
    width:1295px;
    min-width:1295px;
    margin-top:-330px;
    margin-bottom:138px;
    min-height:192px;
    text-align:center;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .About-me--I-m-very-m-outer{
    pointer-events:none;
    z-index:9;
    position:relative;
    display:flex;
  }
  .About-me--I-m-very-m-1{
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Lucida Grande;
    font-weight:700;
    font-size:20px;
    line-height:24px;
  }
  .About-me--I-m-very-m-2{
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Lucida Grande;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .github:link { 
    text-decoration: none;
  }